<script type="text/javascript">
   var REMOTE_ADDR = '223.177.202.145';

</script>
<!DOCTYPE html>
<html>

<head>

   <title>Join The Right IELTS/PTE Coaching Centre</title>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preload" href="https://www.tcyonline.com/india/font/calibri-webfont.woff" as="font" crossorigin>
   <link rel="preload" href="https://www.tcyonline.com/tcyCenter/font/Roboto-Regular.woff" as="font" crossorigin>
   <link rel="stylesheet" type="text/css"
      href="https://www.tcyonline.info/tcyCenter/css/lightslider-min.css?_=1570705330" />
   <link rel="canonical" href="" />
   <meta itemprop="name" content="" />
   <meta itemprop="url" content="https://www.tcyonline.com/mycoach//" />
   <script src="https://www.tcyonline.info/tcyCenter/js/jquery.min.js?_=1569308144"></script>
   <script src="https://www.tcyonline.info/tcyCenter/js/bootstrap.min.js?_=1567573400"></script>
   <script type="text/javascript" src="https://www.tcyonline.info/tcyCenter/js/lightslider.js?_=1567573413"></script>
   <meta name="description" content="">
   <meta name="keywords" content="">
   <link rel="stylesheet" type="text/css" href="https://www.tcyonline.info/tcyCenter/css/common_style.css?_=1591785941">

   <link rel="preload" href="https://www.tcyonline.info/india/images/tcyLogoHomePage.png" as="image">
   <!--             <script src="https://rstar.betterthink.in/public/js/TCYjs/BPC/Franchise/jquery-ui.min.js"></script>-->
   <script defer src="https://www.tcyonline.info/tcyCenter/js/select2-cdn.min.js?_=1569664859"></script>
   <link href="https://www.tcyonline.info/tcyCenter/css/fontRaleway.css?_=1569307479" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="https://www.tcyonline.info/tcyCenter/css/simple-sidebar.css" rel="stylesheet">

   <link rel="stylesheet" type="text/css"
      href="https://www.tcyonline.info/india/css/font-awesome.min.css?_=1486811548" />
   <script type="text/javascript" src="https://www.tcyonline.info/tcyCenter/js/custom.js?_=1580986708"></script>


   <!-- Facebook Pixel Code -->
   <script>
      !function (f, b, e, v, n, t, s) {
         if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
               n.callMethod.apply(n, arguments) : n.queue.push(arguments)
         };
         if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
         n.queue = []; t = b.createElement(e); t.async = !0;
         t.src = v; s = b.getElementsByTagName(e)[0];
         s.parentNode.insertBefore(t, s)
      }(window, document, 'script',
         'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '489801254939026');
      fbq('track', 'PageView');

   </script>

   <noscript>
      <img height="1" width="1" src="https://www.facebook.com/tr?id=489801254939026&ev=PageView
&noscript=1" />
   </noscript>
   <!-- End Facebook Pixel Code -->


</head>

<body>


   <style>
      #header_inner .navbar-expand-lg {
         justify-content: flex-end !important;
      }

      .head-navv {
         margin-right: 40px;
         border-right: 1px #fff solid;
         padding-right: 30px;
         color: white !important;
      }

      .nav-item {
         color: white !important;
      }

      .select2-container--default .select2-selection--multiple .select2-selection__choice {
         background-color: #e4e4e4;
         border: 1px solid #aaa;
         border-radius: 4px;
         cursor: default;
         float: left;
         margin-right: 5px;
         margin-top: 5px;
         padding: 0 5px;
         color: black;
      }

      .select2-container--default .select2-selection--single .select2-selection__rendered {
         color: #444;
      }

      .callus .fa.fa-mobile {
         font-size: 23px;
         vertical-align: sub;
      }

      li.nav-item.callus .nav-link {
         padding-top: 0;
      }

      .card-body .card-title {
         font-size: 13px !important;

         color: black;
      }
   </style>

   <header id="header_inner">
      <div class="container">
         <div class="row">
            <div class="col-md-5 col-sm-5 col-9">
               <a class="navbar-brand" href="/mycoach/"> <img src=""
                     data-src="https://www.tcyonline.info/india/images/tcyLogoHomePage.png" class="img-fluid"> </a>
            </div>
            <div class="col-md-7 col-sm-7 col-3">
               <nav class="navbar navbar-expand-lg navbar-dark navbar-light nav-btuun">
                  <div class="">
                     <button class="navbar-toggler" type="button" onclick="closeBtns();">
                        <span class="navbar-toggler-icon"></span>
                     </button>

                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">


                           <li class="crossli"><a href="javascript:void(0)" class="closebtn" onclick="closeBtns()"
                                 style="color: #fff;">×</a></li>
                           <li class="nav-item callus"><a class="nav-link"><i class="fa fa-mobile"></i> Call
                                 +91-9501-588-488</a></li>

                        </ul>
                     </div>
                  </div>
               </nav>
            </div>
         </div>
      </div>
      <div class="phn-head phn-head1" style="text-align: right;width: 100%;"><a href="tel:+919501588488"
            class="nav-link" style="padding-right: 16px;"><i class="fa fa-mobile"></i><span style="color: #fff;"> Call
               +91-9501-588-488</span></a></div>
   </header>

   <script type="">
        function closeBtns() {
        $('#navbarSupportedContent').toggle();
        }
    </script>


   <style>
      .sec1 {
         padding: 30px 0 0;
         background: url('https://www.tcyonline.info/printscreen/uploads/Toronto_Ontario1588744909.jpg') fixed no-repeat;
         background-position: top;
         min-height: 400px;
      }

      ul {
         list-style: none;
      }
   </style>
   <div class="container-fluid sec1" style="clear: both;">
      <main>
         <div class="container sec" style="clear: both;">
            <div class="row">

               <div class="col-12 col-md-7 col-lg-7 text-white">
                  <ul>

                     <li>
                        <h3 class="text-start">We Help You Join The Right <br> IELTS/PTE Coaching Centre
                        </h3>
                     </li>
                     <li>
                        <p class="text-start">Join Through TCY & Avail</p>
                     </li>
                     <li>

                     <li class="text-start"><img src="https://www.tcyonline.info/tcyCenter/imgs/right-2.png"> Reduced
                        Fee</li>
                     <li class="text-start"><img src="https://www.tcyonline.info/tcyCenter/imgs/right-2.png"> Money-back
                        Guarantee
                     </li>
                     <li class="text-start"><img src="https://www.tcyonline.info/tcyCenter/imgs/right-2.png"> AI-Scored
                        TCY Test
                        Series</li>

                     </li>
                     <li>
                        <p class="feat d_mb_block" style="display:none !important;"><img
                              src="https://www.tcyonline.info/tcyCenter/imgs/info_div_mob2.1.png?_=1662043722"
                              style="max-width:100%;"></p>
                     </li>
                     <li>
                        <p class="feat d_mb_none" style="display:none"><img src=""
                              data-src="https://www.tcyonline.info/tcyCenter/imgs/info_div22.png.png?_=1662043722"
                              style="max-width:95%;"></p>
                     </li>

                  </ul>
               </div>
               <div class="col-12 col-md-5 col-lg-5 bg-white rounded" id="formPart" ng-app="BetterThink">
                  <form method="post" ng-controller="FormCtrl" ng-submit="submitForm()" id="addEnq" name="myform">
                     <h2 class="text-center">Fill &amp; Get the Offer</h2>
                     <div id="Error" class="errorInputMsg1"></div>
                     <div id="Success" class="successInputMsg1"></div>
                     <span class="message" style="color:green"></span>
                     <span class="error" style="color:red;font-size: 15px;"></span>
                     <div class="form-group">

                        <input type="text" placeholder="Name" name="name" class="form-control" autocomplete="off"
                           id="enqName" ng-model="form.name" />
                     </div>
                     <!-- <input type="text" placeholder="Email" name="email" id="enqEmail" ng-model="form.email" />  -->
                     <div class="form-group">

                        <input type="text" placeholder="Mobile" class="form-control onlydigit" name="mobile"
                           autocomplete="off" id="enqPhone" ng-model="form.mobile" maxlength="10" />
                     </div>
                     <input type="hidden" name="enquery" id="enquery" value="enquiry_landing" />
                     <div class="form-group">
                        <select name="user_city" id="user_city_landing" onchange="city_select();" class="form-control"
                           style="text-align: left !important;">
                           <option value="">Select City</option>
                           <option value='370'>Zirakhpur</option>
                           <option value='61737'>Zirakpur</option>
                        </select>
                     </div>

                     <div class="form-group">
                        <select name="user_city" id="user_city_select" class="form-control"
                           style="text-align: left !important; display:none;">
                           <option value="">Select City</option>
                           <option id='1119'>Abohar</option>
                           <option id='64999'>Achharwal</option>
                           <option id='61737'>Zirakpur</option>
                        </select>
                     </div>
                     <div class="form-group">
                        <select id="course_s" class="form-control" style="text-align: left !important;">
                           <option value="">Select Course</option>
                           <option value="IELTS">IELTS</option>
                           <option value="PTE">PTE</option>
                           <option value="Other">Other</option>
                        </select>
                     </div>


                     <div class="captcha row">
                        <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response" value="">
                        <div class="col-3">

                           <span id="security"><img title="Enter Security Code" alt="Enter Code" id="image"
                                 src="/india/misc/CaptchaImagesMath.php?characters=4&t=1662043722"
                                 style="/*! max-width: 80px; *//*! height: 30px; *//*! padding: 10px; */margin-left: 10px;border: 1px solid #ddd;border-radius: 5px;"></span>
                           <span class="equalTo">=</span>
                        </div>
                        <div class="col-9">

                           <input type="text" placeholder="Enter Answer" value="" autocomplete="off" id="captcha"
                              name="captcha" class="form-control security_code" autocorrect="off" spellcheck="false"
                              onfocus=" this.removeAttribute('readonly');">
                        </div>

                     </div>

                     <div class="row">
                        <div class="col text-center">

                           <button name="submit" id="submit" class="btn btn-primary">Submit</button>
                        </div>
                     </div>

                  </form>
               </div>
            </div>

         </div>
      </main>
   </div>
   <div class="container-fluid" style="background: #fff;clear:both;padding: 50px 0 20px;">
      <div class="hea">Choose From Over Hundred Coaching Centres</div>
      <div class="divider"></div>
      <div class="clearfix"></div>
      <div class="slider-con">
         <ul id="content-slider-b">
            <li>
               <img src="" height="80" width="159" data-src="/tcyCenter//imgs/logo/LOGO_1.png" />
            </li>
            <li>
               <img src="" height="80" width="159" data-src="/tcyCenter//imgs/logo/dot.jpg" />
            </li>
            <li>
               <img src="" height="80" width="159" data-src="/tcyCenter//imgs/logo/bt-logo.png" />
            </li>
            <li>
               <img src="" height="80" width="159" data-src="/tcyCenter//imgs/logo/surrey.jpg" />
            </li>
            <li>
               <img src="" height="80" width="159" data-src="/tcyCenter//imgs/logo/upshot.jpg" />
            </li>
            <li>
               <img src="" height="80" width="159" data-src="/tcyCenter//imgs/logo/origin.jpg" />
            </li>
            <li>
               <img src="" height="80" width="159" data-src="/tcyCenter/imgs/logo/logo-3.jpg" />
            </li>
            <li>
               <img src="" height="80" width="159" data-src="/tcyCenter//imgs/logo/jr_canadian.jpg" />
            </li>
            <li>
               <img src="" height="80" width="159" data-src="/tcyCenter//imgs/logo/eduwings.jpg" />
            </li>
            <li>
               <img src="" height="80" width="159" data-src="/tcyCenter//imgs/logo/cross_world.jpg" />
            </li>
            <li>
               <img src="" height="80" width="159" data-src="/tcyCenter//imgs/logo/SGES.png" />
            </li>
         </ul>
         <!-- <div style="width:100%;">
          <p style="text-align:center; text-align: center; padding: 35px 0 0px 0; color: #212529; font-family: roboto; font-size: 16px;"> and many more... </p>
       </div> -->
      </div>
   </div>
   <div class="container-fluid" style="clear: both;border-top: 50px solid #f2f2f2;display: none;">
      <div class="joingCentrs">
         <div class="hea">Why to book through TCY</div>
         <div class="divider"></div>
         <div class="joinCircles">
            <img src="" data-src="https://www.tcyonline.info/tcyCenter/imgs/feature1.png" alt="" class="img-fluid">
         </div>
      </div>
   </div>
   <div id="feature" style="margin: 0px;/*border-top: 50px solid #f2f2f2;*/padding: 30px 0;">
      <div class="container" style="clear: both;">
         <div class="inner">
            <h3 class="main-head" style="color: #444;font-family: roboto;">How It Works</h3>
            <div class="divider"></div>
            <div class="row">
               <div class="col-md-4 col-sm-12">
                  <div class="feature-inner">
                     <!-- <i class="icon icon1"></i> -->
                     <!-- <h4>Lorum Ipsum</h4> -->
                     <img src="" data-src="https://www.tcyonline.info/tcyCenter/imgs/icon-1.jpg">
                     <p>Check &amp; select your preferred coaching centre on TCYonline.com</p>
                     <img class="arrow" src=""
                        data-src="https://www.tcyonline.info/printscreen/uploads/left-arrow(w1)1568272078.png"
                        style="position: absolute;top: 40%;right: -1px;/*! box-shadow: 0px 0px 8.2px 1px rgba(120, 120, 120, 0.31); *//*! border-radius: 50%; */width: 30px;/*! color: blue; */">
                  </div>
               </div>
               <div class="col-md-4 col-sm-12">
                  <div class="feature-inner">
                     <!-- <i class="icon icon2"></i> -->
                     <!-- <h4>Lorum Ipsum</h4> -->
                     <img src="" data-src="https://www.tcyonline.info/tcyCenter/imgs/icon-2.jpg">
                     <p>Pay fee online/offline to join the centre</p>
                     <img class="arrow" src=""
                        data-src="https://www.tcyonline.info/printscreen/uploads/left-arrow(w1)1568272078.png"
                        style="position: absolute;top: 40%;right: -1px;/*! box-shadow: 0px 0px 8.2px 1px rgba(120, 120, 120, 0.31); *//*! border-radius: 50%; */width: 30px;/*! color: blue; */">
                  </div>
               </div>
               <div class="col-md-4 col-sm-12">
                  <div class="feature-inner">
                     <!-- <i class="icon icon3"></i> -->
                     <!-- <h4>Lorum Ipsum</h4> -->
                     <img src="" data-src="https://www.tcyonline.info/tcyCenter/imgs/icon-3.jpg">
                     <p>Start attending classes at the coaching centre</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="testimonial">
      <div class="container-fluid">
         <h2>Testimonials</h2>
         <ul id="testi_slider">
            <li>
               <div class="innr">
                  <span class="testi-img"><img src="imgs/testi-07.png"></span>
                  <p>“…TCY provides the best guidance for admissions to top institutes. They helped me join Dotway
                     Educators as their offerings met my requirements and I scored 7.5 Band Score on my first
                     attempt...” </p>
                  <h3>Rupinder Kaur</h3>

                  <div class="footer">
                     <h4>
                        <span>joined</span>
                        Dotway Educators
                     </h4>
                  </div>
               </div>
            </li>
            <li>
               <div class="innr">
                  <span class="testi-img"><img src="imgs/testi-010.png"></span>
                  <p>“…TCY helped me join my desired coaching institute with a FEE Waiver. TCY test series is fantastic
                     &amp; I recommend everyone to join any coaching centre using TCY's services...”</p>
                  <h3>Shruti</h3>

                  <div class="footer">
                     <h4>
                        <span>joined</span>
                        BetterThink
                     </h4>
                  </div>
               </div>
            </li>
            <li>
               <div class="innr">
                  <span class="testi-img"><img src="imgs/testi-09.png"></span>
                  <p>“…TCY services are excellent; they helped me join Vision Group IELTS Institute with a 30% FEE
                     Waiver & access to the TCY test series was the icing on the cake...” </p>
                  <h3>Saloni Sharma</h3>

                  <div class="footer">
                     <h4>
                        <span>joined</span>
                        Vision Group IELTS
                     </h4>
                  </div>
               </div>
            </li>
            <li>
               <div class="innr">
                  <span class="testi-img"><img src="imgs/testi-05.png"></span>
                  <p>“…Best Platform to join any Coaching Institute with added benefits. TCY helped me join SGES with a
                     Money-back Guarantee & Free TCY Test Series...” </p>
                  <h3>Harshpreet</h3>

                  <div class="footer">
                     <h4>
                        <span>joined</span>
                        SGES
                     </h4>
                  </div>
               </div>
            </li>
            <li>
               <div class="innr">
                  <span class="testi-img"><img src="imgs/testi-03.png"></span>
                  <p>“…TCY helped me join ITP Institute with a good offer for my CELPIP preparation. I had a great
                     experience in the Institute & would like to recommend TCY Platform to my fellow students...”</p>
                  <h3>Dilpreet Singh</h3>

                  <div class="footer">
                     <h4>
                        <span>joined</span>
                        IELTS TURNING POINT
                     </h4>
                  </div>
               </div>
            </li>
            <li>
               <div class="innr">
                  <span class="testi-img"><img src="imgs/testi-02.png"></span>
                  <p>“…It's a highly recommended Platform for easily joining your preferred coaching centre. Reduced
                     fees, Money-back Guarantee & TCY Assessments are great add-ons...”</p>
                  <h3>Amandeep</h3>

                  <div class="footer">
                     <h4>
                        <span>joined</span>
                        IELTS TURNING POINT
                     </h4>
                  </div>
               </div>
            </li>
            <li>
               <div class="innr">
                  <span class="testi-img"><img src="imgs/testi-06.png"></span>
                  <p>“…I am happy with TCY's services as they helped me join Maple College of IELTS for my exam
                     preparation...” </p>
                  <h3>Rohit Ahuja</h3>

                  <div class="footer">
                     <h4>
                        <span>joined</span>
                        Maple College of IELTS
                     </h4>
                  </div>
               </div>
            </li>
            <li>
               <div class="innr">
                  <span class="testi-img"><img src="imgs/testi-08.png"></span>
                  <p>“…TCY helped me join my preferred coaching centre with a fee waiver and additional benefits...”
                  </p>
                  <h3>Sachin</h3>

                  <div class="footer">
                     <h4>
                        <span>joined</span>
                        BetterThink
                     </h4>
                  </div>
               </div>
            </li>
            <li>
               <div class="innr">
                  <span class="testi-img"><img src="imgs/testi-01.png"></span>
                  <p>“...I joined Mindway through TCY's unique FEE waiver program. TCY platform is the best way to join
                     an Institute...” </p>
                  <h3>Abjot Kaur</h3>

                  <div class="footer">
                     <h4>
                        <span>joined</span>
                        Mindway
                     </h4>
                  </div>
               </div>
            </li>
            <li>
               <div class="innr">
                  <span class="testi-img"><img src="imgs/testi-011.png"></span>
                  <p>“...TCY helped me join JR Canadian Institute with a good offer for my IELTS preparation...” </p>
                  <h3>Sunidhi Chauhan</h3>

                  <div class="footer">
                     <h4>
                        <span>joined</span>
                        JR Canadian
                     </h4>
                  </div>
               </div>
            </li>
            <li>
               <div class="innr">
                  <span class="testi-img"><img src="imgs/testi-04.png"></span>
                  <p>“…Best platform to join any Coaching Institute. TCY helped me join Sethi Study Circle (SSC) with
                     added benefits...” </p>
                  <h3>Harsh</h3>

                  <div class="footer">
                     <h4>
                        <span>joined</span>
                        Sethi Study Circle
                     </h4>
                  </div>
               </div>
            </li>
         </ul>
         <h3>Ab chuno coaching centre befikar!</h3>
      </div>
   </div>
   <script src="/mycoach/js/jquery.min.js"></script>
   <script src="/mycoach/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="/mycoach/js/lightslider.js"></script>
   <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1061247555"></script>
   <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
         dataLayer.push(arguments);
      }
      gtag('js', new Date());

      //   gtag('config', 'UA-3438803-4');
      gtag('config', 'AW-1061247555');

      function gtag_report_conversion(url) {

         var callback = function () {
            if (typeof (url) != 'undefined') {
               // window.location = url; 
            }
         };
         gtag('event', 'conversion', {
            'send_to': 'AW-1061247555/7SKXCO2FqbIBEMO0hfoD',
            'event_callback': callback
         });
         return false;
      }
   </script>
   <!-- slider -->
   <script>
      function city_select() {
         var city = $('#formPart #user_city_landing').val();
         if (city == '1078') {
            $('#user_city_select').show();
            return false;
         } else {
            $('#user_city_select').hide();
            $('#user_city_select').val("");
            return false;
         }
      }

      function city_select_mob() {
         var city = $('#offerForm #user_city_landing').val();
         if (city == '1078') {
            $('#user_city_select').show();
            return false;
         } else {
            $('#user_city_select').hide();
            $('#user_city_select').val("");
            return false;
         }
      }

      function newcaptcha() {
         $.ajax({
            type: 'POST',
            url: 'enquiry_landing.php',
            data: {
               action: 'getimage'
            },
            success: function (resp) {
               $('#security').html(resp)
            }

         });
      }

      function isEmail(email) {
         var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
         return regex.test(email);
      }

      const registerEvent = async function () {

         $('.alpha').keypress(function (e) {
            var regex = new RegExp("^[a-zA-Z ]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str) || e.which == 8) {
               return true;
            }

            e.preventDefault();
            return false;
         });


         $(document).on("keydown", '.onlydigit', function (e) {
            //console.log(e.keyCode);
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
               // Allow: Ctrl+A, Command+A
               (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
               // Allow: home, end, left, right, down, up
               (e.keyCode >= 35 && e.keyCode <= 40)) {
               // let it happen, don't do anything
               return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) || (e.keyCode == 110) || (e.keyCode == 190)) {
               e.preventDefault();
            }
         });

         $(document).on('click', '#submit', function () {

            $('#Error').html('');
            $('#Success').html('');
            var name = $('#enqName').val().trim();
            //                            var email = $('#enqEmail').val().trim();
            var enqPhone = $('#enqPhone').val().trim();
            //  var enqComment = $('#EnqComment').val().trim();
            //                             var user_course = $('#user_course_landing').val();
            var captcha = $('#captcha').val().trim();
            var courses = $('#course_s').val();
            var user_city = $('#user_city_landing').val();
            var user_city_select = $('#user_city_select').val();
            // var coachingCentre = $('#coachingCentre').val().trim();

            var enquery = $("#enquery").val();
            if (name == '') {
               $('#Error').html('Please enter your name');
               return false;
            } else {
               $('#Error').html('');
            }

            var pattern = /^\d{10}$/;
            if (enqPhone == '') {
               $('#Error').html('Please enter your mobile number');
               return false;
            } else if (!pattern.test(enqPhone)) {
               $('#Error').html('Please enter your valid mobile number');
               // alert("It is not valid mobile number.input 10 digits number!");
               return false;
            } else {
               $('#Error').html('');
            }

            if (user_city == '') {
               $('#Error').html('Please enter your city');
               return false;
            } else {
               $('#Error').html('');
            }

            if (courses == '') {
               $('#Error').html('Please select course');
               return false;
            } else {
               $('#Error').html('');
            }
            if (captcha == '') {
               $('#Error').html('Captcha is mandatory');
               return false;
            } else {
               $('#Error').html('');
            }



            $.ajax({
               type: 'POST',
               data: {
                  'action': 'saveEnq',
                  'name': name,
                  'enqPhone': enqPhone,
                  'user_city': user_city,
                  'user_city_select': user_city_select,
                  'enquery': enquery,
                  'courses': courses,
                  'captcha': captcha
               },
               beforeSend: function () {
                  $('#submit').html('Please wait...').attr('disabled', 'disabled');
               },
               success: function (data) {
                  $('#submit').html('Submit').removeAttr('disabled');
                  var res = JSON.parse(data);
                  if (res.pass == 1) {
                     if (res.success == 1) {
                        $('#Success').html(res.msg).fadeOut(3000);
                        newcaptcha();
                        $('#addEnq')[0].reset();
                        gtag_report_conversion('https://www.tcyonline.com/mycoach/enquiry_landing.php');
                     } else {
                        $('#Error').html(res.msg);
                     }
                  } else {

                     $('#Error').html("Captcha does not match").show();
                     setTimeout(function () {
                        $('#Error').hide();
                     }, 3000)
                     $('#captcha').val('');
                     newcaptcha();

                  }

               },
               error: function (error) {
                  //console.log('here');
                  // return false;
               }
            });

            event.preventDefault();
         });


         $('#content-slider-b').lightSlider({
            item: 6,
            loop: true,
            controls: true,
            slideMove: 1,
            easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            auto: true,
            speed: 600,
            responsive: [{
               breakpoint: 1100,
               settings: {
                  item: 3,
                  slideMove: 1,
                  slideMargin: 6,
               }
            },
            {
               breakpoint: 800,
               settings: {
                  item: 3,
                  slideMove: 1,
                  slideMargin: 6,
               }
            },
            {
               breakpoint: 480,
               settings: {
                  item: 1,
                  slideMove: 1,
                  slideMargin: 4,
               }
            }
            ]
         });
         $('#testi_slider').lightSlider({
            item: 3,
            loop: true,
            controls: true,
            slideMove: 1,
            easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            auto: true,
            speed: 600,
            responsive: [{
               breakpoint: 1100,
               settings: {
                  item: 3,
                  slideMargin: 6
               }
            },
            {
               breakpoint: 800,
               settings: {
                  item: 2,
                  slideMargin: 6
               }
            },
            {
               breakpoint: 480,
               settings: {
                  item: 1,
                  slideMargin: 6,
                  slideMove: 1
               }
            }
            ]
         });
      }

      setTimeout(registerEvent, 1000);
   </script>


   <div id="Footer">
      <div class="container">
         <div class="Footer-sec">
            <div class="row">
               <div class="col-12 l-foot">
                  <div id="fo_p">
                     <p>© 2022 TCY Learning Solutions(P) Ltd. All Rights Reserved.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
